<div class="search">
  <input [(ngModel)]="myModuleIme" (input)="valueChangeSearch($event)" type="text" placeholder="Search... ">
  <span style="display:none">{{myModuleIme}}</span>
  <span style="color: white" > <em> Search by Title, Author/s, or Summary</em></span>
</div>

<table>
  <th>Title</th>
  <th>Author/s</th>
  <th>Release Date</th>
  <th>Summary</th>
  <th *ngIf="isAdmin" class="centar">Edit</th>
  <th *ngIf="isAdmin" class="centar">Delete</th>
  <th *ngIf="isLoggedIn && !isAdmin" class="centar">Like</th>
  <tr *ngFor="let book of books">
    <td routerLink="/detail/{{book.id}}">{{book.title | uppercase}}</td>
    <td>{{book.author}}</td>
    <td>{{book.release_date | date: 'dd/MM/y'}}</td>
    <td>{{book.summary}}</td>
    <td *ngIf="isAdmin" class="centar"><button type="button" routerLink="/detail/{{book.id}}" class="button">&#9998;</button></td>
    <td *ngIf="isAdmin" class="centar"><button  type="button" (click)="removeBook(book.id)" class="button">X</button></td>
    <td *ngIf="isLoggedIn && !isAdmin" class="centar"><button type="button" (click)="addFavourite(username, book.id)" class="button">&#10084;</button></td>
  </tr>
</table>

<div class="search">
  <span style="color: white" > <em> Click on the title of a book for more information.</em></span>
</div>